/* HEADER */
.header {
  padding: var(--section-space);
}
.header__name {
  padding: 10px;
  margin-left: 113px;
  font-size: 38px;
}
.header__container {
  display: flex;
}
.header__container > *:not(:first-child) {
  margin-left: 5rem;
}
.header__image-wrapper {
  width: 100%;
  font-size: 2em;
}
.header__image {
  border-radius: 20%;
  font-size: 3rem;
  padding-top: 38px;
}

/* NAVIGATION */
.navigation {
  width: 100%;
}
.navigation__header {
  font-size: 5.8rem;
  background: linear-gradient(to right, teal, rgb(0, 28, 28));
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0px 2px 6px teal(0, 0, 0, 5);
}
.navigation__item {
  padding: 0.5rem;
  display: flex;
}
.navigation__item:not(:first-child) {
  margin-top: 0.5rem;
}
.navigation__button-wrapper {
  display: flex;
}
.navigation__button-wrapper .button:not(:first-child) {
  margin-left: 0.5rem;
}

/* TABLE */
.table {
  border-radius: 20px;
}
.table__cell--header {
  background: linear-gradient(to right, teal, rgb(167, 173, 173));
  color: black;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.45);
  transition: 250ms ease-in-out background-color;
  margin: 10px;
  padding: 10px;
}

/* ARTICLE */
.article__title {
  text-align: center;
}

.article__list__item {
  color: teal;
  text-decoration: underline;
}

.article__list {
  display: flex;
}

/* SECTION */
.section__website--pages {
  text-align: center;
}

.section__title {
  text-align: center;
}

.section__title--languages {
  text-align: center;
}

.section__title--teacher {
  text-align: center;
}
.section__image--invisible {
  opacity: 0;
}

@media (max-width: 600px) {
  .header__container {
    flex-direction: column;
    justify-content: center;
  }
  .header__container > *:not(:first-child) {
    margin-left: unset;
  }
  .navigation__header {
    font-size: 3rem;
    text-align: center;
  }
  .navigation__button-wrapper {
    flex-direction: column;
  }
  .navigation__button-wrapper .button:not(:first-child) {
    margin-left: unset;
    margin-top: 0.5rem;
  }
  .article__list__item {
    flex-direction: column;
    justify-content: center;
  }
  .header__image {
    width: 100%;
  }
  .table-wrapper {
    width: 30%;
  }
}
