/* HEADER */
.header {
  padding: var(--section-space);
}
.header__name {
  padding: 10px;
  margin-left: 113px;
  font-size: 38px;
  background: linear-gradient(
    to right,
    rgb(26, 4, 115),
    rgb(76, 191, 133),
    rgb(156, 142, 160)
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.header__container {
  display: flex;
}
.header__container > *:not(:first-child) {
  margin-left: 5rem;
}
.header__image-wrapper {
  width: 100%;
  font-size: 5em;
}
.header__image {
  border-radius: 12%;
  font-size: 4rem;
  padding-top: 35px;
}

/* NAVIGATION */
.navigation {
  width: 100%;
}
.navigation__header {
  font-size: 5.8rem;
  background: linear-gradient(
    to right,
    hsl(194, 45%, 53%),
    whitesmoke,
    rgb(108, 106, 108)
  );
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.navigation__item {
  padding: 0.5rem;
  display: flex;
}
.navigation__item:not(:first-child) {
  margin-top: 0.5rem;
}
.navigation__button-wrapper {
  display: flex;
}
.navigation__button-wrapper .button:not(:first-child) {
  margin-left: 0.5rem;
}

/* TABLE */
.table {
  border-radius: 20px;
}
.table__cell--header {
  background: linear-gradient(
    to right,
    rgb(167, 173, 173),
    hsl(194, 45%, 53%),
    rgb(167, 173, 173)
  );
  color: whitesmoke;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  transition: 250ms ease-in-out background-color;
  margin: 10px;
  padding: 10px;
}

/* ARTICLE */
.article__title {
  text-align: center;
}

.article__list__item {
  color: hsl(194, 45%, 53%);
  text-decoration: underline;
}

.article__list {
  display: flex;
}
/* FLEX */
.flex__container--image {
  display: flex;
  padding: 10px;
  width: 50%;
}

.flex__container--text {
  display: flex;
  padding: 10px;
  width: 50%;
}

/* SECTION */
.section__website--pages {
  text-align: center;
}

.section__title {
  text-align: center;
}

.section__title--languages {
  text-align: center;
}

.section__title--teacher {
  text-align: center;
}

@media (max-width: 600px) {
  .header__container {
    flex-direction: column;
    justify-content: center;
  }
  .header__container > *:not(:first-child) {
    margin-left: unset;
  }
  .navigation__header {
    font-size: 3rem;
    text-align: center;
  }
  .navigation__button-wrapper {
    flex-direction: column;
  }
  .navigation__button-wrapper .button:not(:first-child) {
    margin-left: unset;
    margin-top: 0.5rem;
  }
}
