.contact {
  color: teal;
  text-decoration: underline;
}
.logos {
  width: calc(50% - 2.5rem);
  margin: 10px 0 10px auto;
  text-align: left;
}
.new-background {
  background-color: rgb(242, 227, 213);
}
.footer {
  text-align: center;
  color: black;
  background-color: teal;
  padding: 30px;
}
